{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4"><i class="fas fa-unlock-alt"></i> Set New Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label"><i class="fas fa-lock"></i> New Password</label>
            {{ form.new_password1|add_class:'form-control' }}
            {{ form.new_password1.errors }}
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label"><i class="fas fa-lock"></i> Confirm New Password</label>
            {{ form.new_password2|add_class:'form-control' }}
            {{ form.new_password2.errors }}
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Change Password</button>
    </form>
</div>
{% endblock %} 