{% extends 'base.html' %}
{% block content %}
<h2>{{ action }} Inventory Item</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.instance.pk and form.instance.image %}
        <p>Current image:<br><img src="{{ form.instance.image.url }}" alt="Current image" style="max-width:200px; max-height:200px;" /></p>
    {% endif %}
    <button type="submit">{{ action }}</button>
    <a href="{% url 'inventory_list' %}">Cancel</a>
</form>
{% endblock %} 